/* Generics */
.train-bg {
    background-image: url(../img/train-ticket.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 200px;
    height: 600px;
}
